@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  /*src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(../external.html?link=https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I90.woff) format('woff');*/
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  /*src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(../external.html?link=https://fonts.gstatic.com/s/nunitosans/v3/pe03MImSLYBIv1o4X1M8cc8GBs5tU1c.woff) format('woff');*/
}
