/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
/custom/addons/Scheduler
/custom/addons/Workorders
/Cytech/
/custom/addons/TimeTracking/
/.phpstorm.meta.php
/resources/robust-admin-lite/
/.env.demo
